<h1>Session {{sessionId()}}</h1>
<div>
    <h5>Playlist</h5>
    <div class="row">
        <div>
            <div id="list-example" class="list-group">
                @for (playlist of playlists(); track playlist.id) {
                <button [classList]="isActivated(playlist.id)"
                    (click)="updatePlaylist(playlist.id)">{{playlist.name}}</button>
                }
            </div>
            <button class="btn btn-primary" (click)="previousPage()">Previous</button>
            <button class="btn btn-primary" (click)="nextPage()">Next</button>
        </div>
    </div>
</div>
<button class="btn btn-primary" (click)="closeSession()">Fermer la session</button>
<a class="btn btn-outline-primary m-3" role="button" target="_blank" [routerLink]=redirectId()>Ouvrir dans un
    nouvel onglet</a>