@if(logged()) {
<div class="position-absolute top-0 end-0">
    <a class="btn btn-outline-primary m-3" role="button" routerLink="/home">Accueil</a>
    <a class="btn btn-outline-primary m-3" role="button" routerLink="/control">Centre de contrôle</a>
    <a class="btn btn-outline-primary m-3" role="button" (click)="logOut()">Se déconnecter</a>
</div>
<div class="position-absolute top-0 start-0">
    @if (!spotifyLogged()) {
    <a class="btn btn-outline-primary m-3" role="button" (click)="connectToSpotify()">Se connecter à
        Spotify</a>
    } @else {
    <a class="btn btn-outline-primary m-3" role="button" (click)="disconnectToSpotify()">Se déconnecter à
        Spotify</a>
    }
</div>
} @else {
<div class="position-absolute top-0 end-0">
    <a class="btn btn-outline-primary m-3" role="button" routerLink="/home">Accueil</a>
    <a class="btn btn-outline-primary m-3" role="button" routerLink="/sign-in">Se connecter</a>
</div>
}