<h1>{{sessionInfo()?.code}}</h1>
@if (sessionInfo()?.step) {
<p>Draft mode</p>
<p>{{sessionInfo()?.playlist}}</p>
}
@else if (sessionInfo()?.step === "START") {
<p>Start mode</p>
}
@else if (sessionInfo()?.step === "FINISH") {
<p>Finish mode</p>
}
@else if (sessionInfo()?.step === "EXPIRED") {
<p>Expired mode</p>
}
<p>{{playerName()}}</p>
@for (player of players(); track player.name) {
<p>{{player.name}}</p>
}
<div class="p-5 col-3 border border-primary rounded">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-center">
        <div class="mb-3">
            <input formControlName="newName" class="form-control form-control-lg" type="text" name="newName"
                id="newName" placeholder="Nouveau nom">
        </div>
        <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Changer de nom</button>
    </form>
</div>
<button (click)="onLeave()">Quitter la session</button>