<div class="min-vh-100 position-relative">
    <app-navigation [spotifyLogged]="spotifyLogged()" (spotifyDisconnected)="onSpotifyDisconnect()"></app-navigation>
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1>Control tower</h1>
        @if (currentSession() == null) {
        <button type="button" class="btn btn-outline-primary m-3" role="button" (click)="createSession()"
            [disabled]="!spotifyLogged()">Commencer une
            nouvelle session</button>
        @if (!spotifyLogged()) {
        <p>Vous devez être connecté(e) à Spotify pour créer une session</p>
        }
        }@else{
        @if (!spotifyLogged()) {
        <p>Vous devez être connecté(e) à Spotify pour créer une session</p>
        }@else{
        <app-overview [sessionIdInput]="currentSession()?.code" (sessionClosed)="sessionClosed()"></app-overview>
        }
        }

    </div>
</div>