<div class="min-vh-100 position-relative">
    <div class="position-absolute top-0 end-0">
        <a class="btn btn-outline-primary m-3" role="button" routerLink="/home">Accueil</a>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 class="text-center pb-3">Se connecter</h1>
        <div class="p-5 border border-primary rounded">
            <form class="d-flex flex-column justify-content-center">
                <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="email" id="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="password" id="password"
                        placeholder="Mot de passe">
                </div>
                <button class="btn btn-primary" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle">
        <p class="text-center">Pour disposer d'un compte, contacter moi!</p>
    </div>
</div>